<div class="my-banner">
  <div class="container">
    <h1 class="mb-2">The grass <strong>is greener</strong> when you <strong>share your garden</strong></h1>
    <p>AirGArden allows you to find the most beautiful gardens around you.</p>
    <div class="d-inline-flex justify-content-between w-50">
      <i><%= link_to "Host a garden", new_garden_path, class: "btn btn-ghost" %></i>
      <i><%= link_to "Book a garden", gardens_path, class: "btn btn-ghost" %></i>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-center mt-3 mb-3">
    <label for="searchLocationField"></label>
    <input type="string" id="searchLocationField" value="location">
    <input type="submit" class="btn-ghost">
  </div>
</div>
<div class="container">
  <div class="row">
    <% Garden.all.each do |garden| %>
    <div class="col-3">
    <%= link_to garden_path(garden) do %>
      <div class="card-trip">
        <%= cl_image_tag(garden.photo) %>
        <div class="card-trip-infos">

            <h2><%= garden.title %></h2>

          <h2 class="card-trip-pricing"><%= garden.price %> €</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

