<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">

      <h2>Host a new garden</h2>

      <%= simple_form_for(@garden) do |g| %>
        <%= g.input :title %>
        <%= g.input :description %>
        <%= g.input :price %>
        <%= g.input :location %>
        <%= g.input :capacity %>
        <%= g.input :size %>
        <%= g.input :photo %>
        <%= g.input :photo_cache, as: :hidden %>
        <div class="form-actions" align="center">
          <%= g.submit class:"btn-ghost" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
