<div class="container">

  <h2>Post a new garden >> </h2>

  <%= simple_form_for(@garden) do |g| %>
    <%= g.input :title %>
    <%= g.input :description %>
    <%= g.input :price %>
    <%= g.input :location %>
    <%= g.input :capacity %>
    <%= g.input :size %>

    <%= g.submit class: "btn btn-primary" %>
  <% end %>
</div>
