<div class="container pb-5 minimum-height">
  <div class="row">
    <p style="margin-top: 20px;"> <%= link_to "Back to gardens", gardens_path %></p>
  </div>
  <div class="row">

    <div class="col-6">
      <div class="card-trip card-trip-show">
        <% if @garden.photo.blank? %>
        <div class="card-category">
          <h1 style="color: black; margin-left: 20px; margin-top: 10px;"> <%=  @garden.title %> </h1>
        </div>
        <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @garden.photo  %>')">
          <h1> <%=  @garden.title %> </h1>
        </div>
        <% end  %>
        <div class="card-trip-infos">
          <div>
            <p class="mb-4"><%= @garden.description %></p>
            <div class="d-flex w-50 justify-content-between align-items-center">
              <i class="fas fa-map-marker-alt"></i><p><%= @garden.location %></p>
            </div>
            <div class="d-flex w-50 justify-content-between align-items-center">
             <i class="fas fa-users"></i><p><%= @garden.capacity %></p>
           </div>
           <div class="d-flex w-50 justify-content-between align-items-center">
             <i class="fas fa-ruler-combined"></i><p><%= @garden.size %>m2</p>
           </div>
         </div>
         <div class="price-tag-wrap-show">
          <div class="price-tag">
            <div class="price-tag-content">
              <h3><%= @garden.price %> €</h3>
              <h3>/Day</h3>
            </div>
          </div>
        </div>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user-avatar" />
      </div>
    </div>
  </div>

  <% if @garden.user != current_user %>
  <div class="col-6">

    <div class="card-trip card-trip-dates ml-5">
      <h2 style="font-size: 22px;"> Booking dates </h2>
      <%= render "bookings/new", garden: @garden, booking: @booking%>

    </div>
  </div>
  <% end %>
</div>
</div>
